@font-face {
    font-family: "OpenSans-Regular";
    src: local("OpenSans-Regular"), url("./fonts/OpenSans-Regular.ttf") format("truetype");
  }
  
@font-face {
    font-family: "OpenSans-Bold";
    src: local("OpenSans-Bold"), url("./fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Druk Wide Bold";
    src: local("Druk Wide Bold"), url("./fonts/Druk Wide Bold.ttf") format("truetype");
}

main {
    min-height:100vh;
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "OpenSans-Regular";
    color:var(--white);
    display: grid;
    grid-template-rows: auto;

    header {
        display: flex;
        align-items: center;
        justify-content:space-around;

        h3 {
            font-weight: bold;
            font-size: 2.4rem;
            line-height: 3.3rem;
        }

        .share {
            width: 2.4rem;
            height: 2.4rem;
            cursor: pointer;
        }
    }

    section {

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
        h1 {
            font-family: "OpenSans-Bold";
            font-weight: bold;
            font-size: 5.6rem;
            line-height: 7.6rem;
            text-transform: uppercase;

            -webkit-text-fill-color: transparent; 
            -webkit-text-stroke: .1rem var(--white);
        }

        .container-heroes {
            display: flex;
            margin-top: 5rem;

            .hero {

                text-align: center;
                margin-right: 2rem;

                &:last-child {
                    margin-right:0
                }

                span {
                    font-family: "Druk Wide Bold";
                    font-weight: bold;
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    letter-spacing: 0.1em;
                    color: var(--red);                   
                }

                img {
                    margin-bottom: 1rem;
                }
            }
        }

        .content {
            justify-self: center;
        }

        .container-main-character {
            align-self: flex-end;
            justify-self: center;
        }


        footer {
            display: flex;
            position: absolute;
            bottom: 2.5rem;  
            
            div {
                font-size: 2.5rem;
                margin-right: 3rem;

                &:last-child {
                    margin-right: 0;                    
                }

                a {
                    color: var(--white)
                }
            }
        }
    }
}

